html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.highlight:hover
{
	border-top: 0px;
	border-bottom: 2px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: red;
}

.fixheight
{
	height: 800px;
}

.fixheight .img-fluid
{
	display: block;
	max-height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
  color: blue;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: blue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: blue;
}

.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 800px !important;
}

@media only screen and (min-width : 1200px) {
  .carousel-caption
  {
    top: 46%;
  }
}

#brands
{
	padding-left: 350px !important;
	padding-right: 350px !important;
}


.navbar-inner {
    background:transparent;
}

.navi
{
	font-weight: 550 !important;
	font-family: "Work sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 18px !important;
	text-transform: uppercase;
}

.firstback
{
	background-image: url(building.jpeg);
  background-attachment: fixed;
	height: 1200px;
	max-height: 1200px;
  background-size: cover;

}

.trans
{
  background: transparent;
  margin-left: 10%;
  margin-top: 10%;
  border: 0px;
  font-size: 2em;
  font-family: 'Alegreya Sans', sans-serif !important;
}

.secondback
{
  background-image: url(rest.jpeg);
  background-attachment: fixed;
  height: 1100px;
  max-height: 1100px;
  background-size: cover;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}

.secondback .card
{
}
.thirdback
{
  background-image: url(thirdback.jpeg);
  background-attachment: fixed;
  height: 1200px;
  max-height: 1200px;
  background-size: cover;
}
