*
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
}
.firstback
{
    background-image: url(leafs.jpg);
    width: 100%;
    height: 100%;
}

.firstback nav
{
    background-color: rgba(30,150,70,0.4);
}

.login
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:80%;
}

input[type="password"], input[type="text"]
{
    width: 350px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 20px;
    text-indent: 40px;
    transition: all 0.2s;
   border-radius: 150px 150px;
}

.mybtn
{
    width: 350px;
    display: flex;
}
button
{
    width:100%;
    border-radius: 150px 150px 150px 150px !important;
    margin-left: auto;
    margin-right: auto;
}


input[type="text"]
{
    background-image: url(sun.svg);
}

input[type="password"]
{
    background-image: url(moon.svg);
}

input:focus
{
    width: 400px;
    background-image: url(thunder.svg);
}
