<html>
    <head>
        <title>Calculator</title>
        <link rel="stylesheet" href="/assets/calc.css">
    <body>
        <ul>
            <div class = "bar"><p id="result"></p></div>
            <div class = "numbers">
                <li><button  id = "7">7</button></li>
                <li><button  id = "8">8</button></li>
                <li><button  id = "9">9</button></li>
                <li><button  id = "6">6</button></li>
                <li><button  id = "5">5</button></li>
                <li><button  id = "4">4</button></li>
                <li><button  id = "3">3</button></li>
                <li><button  id = "2">2</button></li>
                <li><button  id = "1">1</button></li>
                <li id = "zero"><button id = "0">0</button></li>
                <li id = "point"><button id = ".">.</button></li>
            </div>
            <div class = "operations">
                <li><button>+</button></li>
                <li><button>-</button></li>
                <li><button>*</button></li>
                <li><button>/</button></li>
                <li id="equals"><button>=</button></li>
            </div>
        </ul>
        <script src="/scripts/op.js"></script>        
    </body>
</html>
