<html>
    <head>
        <link rel="stylesheet" href="/assets/loading.css" >
    </head>
    <body>
        <ul>
            <li><img src="/images/loadingpic.svg" height="400px" width="400px" ></li>
            <li>Submitting</li>
        </ul>
    </body>
</html>
